@tailwind base;
@tailwind components;
@tailwind utilities;

    
@layer components {

    html {
        font-family: 'Patrick Hand', cursive;
    }

    .navlink {
        @apply cursor-pointer transition hover:scale-110 ease-in-out hover:text-indigo-800
    }

    .skillsList{
        @apply gap-y-6 pl-7
    }

    .skillItem {
        @apply flex justify-between items-center py-4
    }

    .footer_link{
        @apply font-semibold text-gray-300
    }

}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: #6600ff;
    border-radius: 50px;
}

/* scroll bar end */

/* technology button */
.tech{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.tech > p {
    background: #080047F5;
    border: 1px solid #30206F;
    color: #f6ccef;
    /* padding: 13px 15px; */
    width: 100px;
    text-align: center;
    border-radius: 5px;
}
/* technology button end*/


/* Header button */
.header-button {
    outline: 0;
    background: transparent;
    border: 1px solid #916bbf;
    border-radius: 5px;
    color: #f6ccef;
    margin-top: 10px;
    min-width: 130px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    z-index: 0;
    overflow: hidden;
}

.header-button:hover {
    color: #fff;
}

.header-button:hover:after {
    width: 100%;
}

.header-button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #3d2c8d;
}

.header-button:active {
    color: #1c0c5b;
}
/* Header button end */

/* footer image */
.contact-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    background: url(./image/Sprinkle.svg);
}

/* footer image end */

/* back drop filter */
.bkd{
    backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(61, 44, 141, 0.66);
    z-index: 7;
}
/* back drop filter end*/



/* Loader */
/* From uiverse.io by @gagan-gv */
.spinner {
 height: 100vh;
 width: 100vw;
 font-size: 22px;
 font-weight: 1000;
 font-family: monospace;
 letter-spacing: 1em;
 color: white;
 background: #1C0C5B;
 filter: drop-shadow(0 0 10px);
 display: flex;
 justify-content: center;
 align-items: center;
}

.spinner span {
 animation: loading6454 1.5s ease infinite;
}

.spinner span:nth-child(2) {
 animation-delay: 0.25s;
}

.spinner span:nth-child(3) {
 animation-delay: 0.5s;
}

.spinner span:nth-child(4) {
 animation-delay: 0.75s;
}

.spinner span:nth-child(5) {
 animation-delay: 1s;
}

.spinner span:nth-child(6) {
 animation-delay: 1.25s;
}

.spinner span:nth-child(7) {
 animation-delay: 1.5s;
}

.spinner span:nth-child(8) {
 animation-delay: 1.75s;
}

@keyframes loading6454 {
 0%, 100% {
  transform: translateY(0);
 }

 50% {
  transform: translateY(-10px);
 }
}

/* Loader end */
















